# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/

# Package manager installs
node_modules/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
